:root {
    --transparent : rgba(255,255,255,0.7);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(11, 135, 169, 0.9);
}

main {
  
    margin-top: 80px;
   
}

.calculator-container{
    padding-top: 3.5rem;
    background-color: black;
    margin: auto; 
    justify-content: center;
    max-width: 480px; 
    margin: auto; 
    border-radius: 7px;
}
.calculator-grid {
    display: grid;
    padding-bottom: 3em;
    margin: auto;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
    outline: none;
}

.calculator-grid>button {
    cursor: pointer;
    border: 1px solid #eaf6f6;
    color: #eaf6f6;
    font-size: 2rem;
}

.calculator-grid>button:hover {
    background-color: rgba(11, 135, 169, 0.9);
}

.span-two {
    grid-row: span 2;
}

.output {
    color: #eaf6f6;
    background-color: rgba(11, 135, 169, 0.75);
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border: 1px solid #eaf6f6;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.current-out {
    font-size: 2.5rem;
}

.previous-out {
    font-size: 1.5rem;
}

button[data-delete],
button[data-clear] {
    background-color: rgba(242, 53, 87, 0.85);
}

button[data-delete]:hover,
button[data-clear]:hover {
    background-color: rgba(242, 53, 87, 0.95);
}

#equals,
button[data-operator] {
    background-color: rgba(59, 74, 107, 0.8);
}

#equals:hover,
button[data-operator]:hover {

    background-color: rgba(59, 74, 107, 1);
}

button[data-number] {
    background-color: rgba(11, 135, 169, 0.3);
}

button[data-number]:hover {
    background-color: rgba(6, 92, 116, 0.3);

}

footer {
    background-color: rgba(11, 135, 169, 0.1);
    color: #eaf6f6;
    font-size: 1rem;
    padding: 50px;
}

footer p {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--transparent);
}


@media screen and (max-width:500px) {
    .calculator-grid {
        display: grid;
        padding-bottom: 3em;
        margin: auto;
        justify-content: center;
        align-content: center;
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: minmax(70px, auto)repeat(5, 70px);
        outline: none;
    
    }

    .calculator-container{
        max-width: 350px;
        padding-top: 100px;
        margin-bottom: 6rem;
    }

    button {
        font-size: 1.2rem !important;
    }

    footer {
        padding: 15px;
    }
}

@media screen and (max-width:350px) {
    .calculator-grid {
        display: grid;
        margin: auto;
        justify-content: center;
        align-content: center;
        grid-template-columns: repeat(4, 65px);
        grid-template-rows: minmax(65px, auto)repeat(5, 65px);
        outline: none;
    
    }

    .calculator-container{
        margin-top: 50px;
        max-width: 320px;
        padding-top: 80px;
        
    }

    button {
        font-size: 1.1rem !important;
    }
    
    main{
        min-height: 100vh;
        
    }

    footer {
        padding: 30px;
    }

}