:root {
    --transparent : rgba(255,255,255,0.7);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(11, 135, 169, 0.9);
    /*min-height: 100vh;*/
}

main {
    /*max-width: 480px;
    margin: auto;*/
    margin-top: 80px;
    /*max-height: 780px;
    position: relative;
    margin: auto;
    margin-top: 30px;
    background-color: black;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px black;
    width: clamp(320px, 450px, 60rem);*/
}

.calculator-container{
    padding-top: 3.5rem;
    background-color: black;
    margin: auto; 
    justify-content: center;
    max-width: 480px; 
    margin: auto; 
}
.calculator-grid {
    display: grid;
    max-width: 500px;
    padding-bottom: 3em;
    margin: auto;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
    outline: none;
}

.calculator-grid>button {
    cursor: pointer;
    border: 1px solid #eaf6f6;
    color: #eaf6f6;
    font-size: 2rem;
}

.calculator-grid>button:hover {
    background-color: rgba(11, 135, 169, 0.9);
}

.span-two {
    grid-row: span 2;
}

.output {
    color: #eaf6f6;
    background-color: rgba(11, 135, 169, 0.75);
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border: 1px solid #eaf6f6;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.current-out {
    font-size: 2.5rem;
}

.previous-out {
    font-size: 1.5rem;
}

button[data-delete],
button[data-clear] {
    background-color: rgba(242, 53, 87, 0.85);
}

button[data-delete]:hover,
button[data-clear]:hover {
    background-color: rgba(242, 53, 87, 0.95);
}

#equals,
button[data-operator] {
    background-color: rgba(59, 74, 107, 0.8);
}

#equals:hover,
button[data-operator]:hover {

    background-color: rgba(59, 74, 107, 1);
}

button[data-number] {
    background-color: rgba(11, 135, 169, 0.3);
}

button[data-number]:hover {
    background-color: rgba(6, 92, 116, 0.3);

}

footer {
    background-color: rgba(11, 135, 169, 0.1);
    color: #eaf6f6;
    font-size: 1rem;
    padding: 50px;
}

footer p {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--transparent);
}


@media screen and (max-width:500px) {
  /*  .calculator-grid {
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: minmax(120px, auto)repeat(5, 50px);
        padding-bottom: 300px;
    }
    .calculator-grid>button {
    
        font-size: 1.5rem;
    }
    main {
        max-width: 250px;
        padding-top: 50px;
        
    }
    .calculator-container{
        height: 60vh;
    }
    */
}